<footer>
  <div class="container pb-5">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a target="_blank" href="https://fightfascism.glitch.me/"><img src="https://cdn.glitch.com/2249eb84-18cb-406f-a492-82a272962e6f%2Ffightfascismblack-220xpx.jpg?v=1568378728831" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" width="220" height="37" style="max-width: 100%;"></a>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto text-center">      
        <p>
          <a target="_blank" href="https://indieweb.org/">
            <img class="lazy-loaded" alt="IndieWeb" title="Support #indieweb!" src="https://fourtonfish.com/wp-content/themes/fourtonfish/images/other/indiewebcamp.png">
          </a>
        </p>
      </div>
    </div>
  </div>  
</footer>
