<footer>
  <div class="container pb-5">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://fightfascism.glitch.me/">
            <img class="lazy-load" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" data-src="https://cdn.glitch.com/2249eb84-18cb-406f-a492-82a272962e6f%2Ffightfascismblack-220xpx.jpg?v=1568378728831">
          </a>
          <noscript>
            <a href="https://fightfascism.glitch.me/">
              <img class="lazy-load" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" src="https://cdn.glitch.com/2249eb84-18cb-406f-a492-82a272962e6f%2Ffightfascismblack-220xpx.jpg?v=1568378728831">
            </a>
          </noscript>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://blacklivesmatter.com/">
            <img class="lazy-load" alt="Black Lives Matter" title="Black Lives Matter logo" data-src="https://fourtonfish.com/wp-content/themes/fourtonfish/images/other/blm.jpg">
          </a>
          <noscript>
            <a href="https://blacklivesmatter.com/">
              <img class="lazy-load" alt="Black Lives Matter" title="Black Lives Matter logo" src="https://fourtonfish.com/wp-content/themes/fourtonfish/images/other/blm.jpg">
            </a>
          </noscript>
        </p>              
      </div>      
      <div class="col-sm-6 col-md-4 mx-auto text-center">      
        <p>
          <a href="https://indieweb.org/">
            <img class="lazy-load" alt="IndieWeb" title="Support #indieweb!" data-src="https://fourtonfish.com/wp-content/themes/fourtonfish/images/other/indiewebcamp.png">
          </a>
          <noscript>
            <a href="https://indieweb.org/">
              <img class="lazy-load" alt="IndieWeb" title="Support #indieweb!" src="https://fourtonfish.com/wp-content/themes/fourtonfish/images/other/indiewebcamp.png">
            </a>
          </noscript>
        </p>
      </div>
    </div>
  </div>  
</footer>
