<footer>
  <div class="container pb-5">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://fightfascism.glitch.me/">
            <img class="lazy-load" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" data-src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Ffight-fascism.png">
          </a>
          <noscript>
            <a href="https://fightfascism.glitch.me/">
              <img class="lazy-load" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Ffight-fascism.png">
            </a>
          </noscript>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://blacklivesmatter.com/">
            <img class="lazy-load" alt="Black Lives Matter" title="Black Lives Matter logo" data-src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fblm.png">
          </a>
          <noscript>
            <a href="https://blacklivesmatter.com/">
              <img class="lazy-load" alt="Black Lives Matter" title="Black Lives Matter logo" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fblm.png">
            </a>
          </noscript>
        </p>              
      </div>      
      <div class="col-sm-6 col-md-4 mx-auto text-center">      
        <p>
          <a href="https://indieweb.org/">
            <img class="lazy-load" alt="IndieWeb" title="Support #indieweb!" data-src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Findiewebcamp.png">
          </a>
          <noscript>
            <a href="https://indieweb.org/">
              <img class="lazy-load" alt="IndieWeb" title="Support #indieweb!" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Findiewebcamp.png">
            </a>
          </noscript>
        </p>
      </div>
    </div>
  </div>  
</footer>
