<footer>
  <div class="container pb-5">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://fightfascism.neocities.org/">
            <img class="lazy-load" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" data-src="/images/logos/fight-fascism.png">
          </a>
          <noscript>
            <a href="https://fightfascism.neocities.org/">
              <img class="lazy-load" title="Fight Fascism sticker by Angus Johnston" alt="Fight fascism" src="/images/logos/fight-fascism.png">
            </a>
          </noscript>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 mx-auto text-center">
        <p>
          <a href="https://blacklivesmatter.com/">
            <img class="lazy-load" alt="Black Lives Matter" title="Black Lives Matter logo" data-src="/images/logos/blm.png">
          </a>
          <noscript>
            <a href="https://blacklivesmatter.com/">
              <img class="lazy-load" alt="Black Lives Matter" title="Black Lives Matter logo" src="/images/logos/blm.png">
            </a>
          </noscript>
        </p>              
      </div>      
      <div class="col-sm-6 col-md-4 mx-auto text-center">      
        <p>
          <a href="https://indieweb.org/">
            <img class="lazy-load" alt="IndieWeb" title="Support #indieweb!" data-src="/images/logos/indiewebcamp.png">
          </a>
          <noscript>
            <a href="https://indieweb.org/">
              <img class="lazy-load" alt="IndieWeb" title="Support #indieweb!" src="/images/logos/indiewebcamp.png">
            </a>
          </noscript>
        </p>
      </div>
    </div>
  </div>  
</footer>
