<div class="container pb-5">
  <header class="mt-5">
    <img class="example" src="https://generative-placeholders.glitch.me/image?width=800&height=400&style=cellular-automata&cells=80" title="Generative placeholders example image" alt="Generative placeholders">
    <h1 class="mt-4">
      Generative Placeholders
    </h1>
    <p>
      Use generative art as your image placeholders.
    </p>
  </header>
  <div class="mt-5">
    <h2>
      How to use
    </h2>
    <h3>
      Basic usage
    </h3>
    <div class="row">
      <div class="col-sm-12">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x22;&#x3E;</code></pre>
        <p>
          <em>Hint: Click the preview to generate a new image.</em>
        </p>
      </div>
    </div>
    <h3>
      Choose the style
    </h3>
    <p>
      Available styles:
    </p>
    <ul>
      <li><code>cellular-automata (default)</code></li>
      <li><code>triangles</code></li>
      <li><code>circles</code></li>
      <li><code>tiles</code></li>
      <li><code>cubic-disarray</code></li>
      <li><code>joy-division</code></li>
      <li><code>123</code></li>
    </ul>
    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=cellular-automata">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=cellular-automata&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=triangles">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=triangles&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=circles">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=circles&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=tiles">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=tiles&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=cubic-disarray">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=cubic-disarray&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=joy-division">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=joy-division&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=123">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=123&#x22;&#x3E;</code></pre>
      </div>
    </div>
    <h3>
      Tweak the look
    </h3>    
    <div class="row">
      <div class="col-sm-12">
        <p>
          The image generator uses the <a href="https://www.npmjs.com/package/nice-color-palettes">nice-color-palettes</a> node package to pick a random color palette. You can choose a specific palette by passing an index of one of the top 100 palettes as <code>colors</code>.
        </p>
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=cellular-automata&colors=2">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=cellular-automata&#x26;cells=20&#x26;colors=2&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12">
        <p>
          Certain styles have additional parameters that you can adjust.
        </p>
        <h4>
          Cellular automata
        </h4>
        <ul>
          <li><code>cells</code>: number of cells on each line</li>
        </ul>
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=cellular-automata&cells=10">      
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=cellular-automata&#x26;cells=10&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12">
        <h4>
          Triangles
        </h4>
        <ul>
          <li><code>gap</code>: controls the size of the triangles</li>
        </ul>        
        <p>
          <img class="example" src="https://generative-placeholders.glitch.me/image?width=400&height=300&style=triangles&gap=100">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=400&#x26;height=300&#x26;style=triangles&#x26;gap=100&#x22;&#x3E;</code></pre>        
      </div>
    </div>
  </div>
  <h2>Resources</h2>
  <ul>
    <li>
      <a href="https://generativeartistry.com">Generative Artistry</a>
    </li>
    <li>
      <a href="https://glitch.com/edit/#!/generative-art-bot">Generative Art Bot</a>
    </li>
    <li>
      <a href="https://javascript.christmas/2019/22">Cellular Automata in the Browser</a>
    </li>
    <li>
      <a href="https://www.npmjs.com/package/nice-color-palettes">nice-color-palettes</a>
    </li>
    <li>
      <a href="https://glitch.com/about">Glitch</a>
    </li>
  </ul>
  <div class="mt-5">
    <p>
      Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>
      <a class="btn btn-light btn-sm" href="https://glitch.com/edit/#!/{{project_name}}?path=README.md">View source</a>        
    </p>
  </div>  
</div>
