<div class="container pb-5">
  <header class="mt-5">
    <img class="example" src="https://generative-placeholders.glitch.me/image?width=1200&height=400&style=cellular-automata&cells=80" title="Generative placeholders example image" alt="Generative Placeholders">
    <h1 class="mt-4">
      Generative Placeholders
    </h1>
    <p>
      Use generative art as your image placeholders.
    </p>
  </header>
  <div class="mt-5">
    <h2 id="how-to-use">
      How to use
    </h2>
    <h3 id="basic-usage">
      Basic usage
    </h3>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-01.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x22;&#x3E;</code></pre>
        <p>
          <em>Hint: Click the preview to generate a new image.</em>
        </p>
      </div>
    </div>
    <h3 id="choose-the-style">
      Choose the style
    </h3>
    <ul>
      <li><code>cellular-automata</code>: A pattern made up of <a href="https://simple.wikipedia.org/wiki/Cellular_automaton">colored cells</a>. This is the default style and will be used if no other style is chosen.</li>
      <li><code>mondrian</code>: Art in the style of <a href="https://en.wikipedia.org/wiki/Piet_Mondrian">Piet Mondrian</a>.</li>
      <li><code>triangles</code>: A colorful triangle mesh.</li>
      <li><code>circles</code>: <a href="https://en.wikipedia.org/wiki/Circle_packing">Circles packed together</a>.</li>
      <li><code>tiles</code>: A maze created using the <a href="https://www.youtube.com/watch?v=m9joBLOZVEo">10 PRINT</a> Commodore 64 generative art program.</li>
      <li><code>cubic-disarray</code>: Inspired by the art of <a href="https://en.wikipedia.org/wiki/Georg_Nees">Georg Nees</a>.</li>
      <li><code>joy-division</code>: Inspired by <a href="https://en.wikipedia.org/wiki/Unknown_Pleasures#Artwork_and_packaging">Joy Division's Unknown Pleasures</a> album cover.</li>
      <li><code>123</code>: Inspired by <a href="https://en.wikipedia.org/wiki/Vera_Molnár">Vera Molnar</a>'s Un Deux Trois artwork.</li>
    </ul>
    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=cellular-automata" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-02.png" alt="Example cellular automata generative placeholder image" title="This is an example generative placeholder image that uses the cellular automata style. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=mondrian" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fmondrian.png" alt="Example generative placeholder image in the style of Piet Mondrian" title="This is an example generative placeholder image inspired by the art of Piet Mondrian. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=mondrian&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=triangles" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-03.png" alt="Example triangle mesh generative placeholder image" title="This is an example generative placeholder image that uses the triangle mesh style. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=triangles&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=circles" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-04.png" alt="Example circle-packing generative placeholder image" title="This is an example generative placeholder image that uses the circle-packing style. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=circles&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=tiles" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-05.png" alt="Example tiling generative placeholder image" title="This is an example generative placeholder image that uses the tiling style. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=tiles&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=cubic-disarray" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-06.png" alt="Example cubic disarray generative placeholder image" title="This is an example generative placeholder image that uses the cubic disarray style. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=cubic-disarray&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=joy-division" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-07.png" alt="Example Joy Division generative placeholder image" title="This is an example generative placeholder image that uses the Joy Division style inspired by their Unknown Pleasures album cover. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=joy-division&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=123" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-08.png" alt="Example generative placeholder image inspired by Vera Molnar's Un Deux Trois artwork" title="This is an example generative placeholder image inspired by Vera Molnar's Un Deux Trois artwork. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=123&#x22;&#x3E;</code></pre>
      </div>
    </div>
    <h3 id="tweak-the-look">
      Tweak the look
    </h3>
    <p>
      The image generator uses the <a href="https://www.npmjs.com/package/nice-color-palettes">nice-color-palettes</a> node package to pick a random color palette. You can choose a specific palette by passing an index of one of the top 100 palettes as <code>colors</code>.
    </p>
    <p>
      <em>Note: The Piet Mondrian style uses a preset color scheme.</em>
    </p>    
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=cellular-automata&colors=2" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-09.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x26;cells=20&#x26;colors=2&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=cellular-automata&colors=87" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-10.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x26;cells=20&#x26;colors=87&#x22;&#x3E;</code></pre>
      </div>
    </div>
    <p>
      Certain styles have additional parameters that you can adjust.
    </p>
    <h4 id="options-cellular-automata">
      Cellular automata
    </h4>
    <ul>
      <li><code>cells</code>: number of cells on each line</li>
    </ul>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=cellular-automata&cells=10" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-11.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x26;cells=10&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=cellular-automata&cells=50" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-12.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x26;cells=50&#x22;&#x3E;</code></pre>
      </div>
    </div>
    <h4 id="options-triangles">
      Triangles
    </h4>
    <ul>
      <li><code>gap</code>: controls the size of the triangles</li>
    </ul>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=triangles&gap=100" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-13.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=triangles&#x26;gap=100&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <img class="example mt-4" data-src="https://generative-placeholders.glitch.me/image?width=600&height=300&style=triangles&gap=30" src="https://cdn.glitch.com/4e796d0c-e4ff-46fc-a546-de1ccc1e8663%2Fexample-14.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </p>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;style=triangles&#x26;gap=30&#x22;&#x3E;</code></pre>
      </div>
    </div>
  </div>
  <h2 id="resources">Resources</h2>
  <ul>
    <li>
      <a href="https://generativeartistry.com">Generative Artistry</a>
    </li>
    <li>
      <a href="https://glitch.com/edit/#!/generative-art-bot">Generative Art Bot</a>
    </li>
    <li>
      <a href="https://javascript.christmas/2019/22">Cellular Automata in the Browser</a>
    </li>
    <li>
      <a href="https://www.npmjs.com/package/nice-color-palettes">nice-color-palettes</a>
    </li>
    <li>
      <a href="https://glitch.com/about">Glitch</a>
    </li>
  </ul>
  <h2 id="questions-and-tips">Questions and tips</h2>
  <ul>
    <li>
      <p><strong>When using multiple images on the same page, how do I make each look different?</strong></p>
      <p>When a browser sees the same URL again, it tries to load the resource (image, JavaScript or a CSS file, etc) from the browser's cache, avoiding making the same request again.</p>
      <p>To make each image random, you can add an extra parameter that will be ignored by this site, but will make your browser think you are requesting a new image. This can be anything, for example:</p>
      <pre>
        <code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;img=01&#x22;&#x3E;</code>
        <code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;img=02&#x22;&#x3E;</code>
        <code class="html">&#x3C;img src=&#x22;https://generative-placeholders.glitch.me/image?width=600&#x26;height=300&#x26;img=03&#x22;&#x3E;</code>
      </pre>
    </li>
    <li>
      <p><strong>Adding <code>title</code> and <code>alt</code> attributes</strong></p>
      <p>If you intend to use the images outside of small demos, be sure to <a href="https://stackoverflow.com/a/872407">include <code>title</code> and <code>alt</code> attributes</a>.</p>
    </li>
  </ul>
  <p>Have any more questions or suggestions? Feel free to reach out <a href="mailto:stefan@fourtonfish.com">via email</a> or <a href="https://twitter.com/fourtonfish">on Twitter</a>!</p>
  <div class="mt-5">
    <p>
      Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>
      <a class="btn btn-light btn-sm" href="https://glitch.com/edit/#!/{{project_name}}?path=README.md">View source</a>
      <a class="btn btn-light btn-sm" href="https://fourtonfish.com/projects/">More projects</a>
    </p>
  </div>  
</div>
