<div class="container pb-5">
  <header class="mt-5">
    <img width="1200" height="400" class="example main-example" src="/image?width=1200&height=400&style=cellular-automata&cells=80" data-imgsrc="/image?width=1200&height=400&style=cellular-automata&cells=80" title="Generative placeholders example image" alt="Generative Placeholders">
    <h1 class="mt-4">
      Generative Placeholders
    </h1>
    <p>
      Use generative art as your image placeholders.
    </p>
  </header>
  <p>
    Created by <a href="https://stefanbohacek.online/@stefan">Stefan Bohacek</a>.
    <a class="btn btn-light btn-sm" href="https://github.com/stefanbohacek/generative-placeholders">View source</a>
    <a class="btn btn-light btn-sm" href="https://stefanbohacek.com/projects/">More projects</a>
  </p>
  <div class="mt-5">
    <h2 id="basic-usage">
      Basic usage
    </h2>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300" data-src="images/examples/example-01.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        <noscript>
          <img width="600" height="300" src="images/examples/example-01.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </noscript>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x22;&#x3E;</code></pre>
        <p>
          <em>Hint: Click the preview to generate a new image.</em>
        </p>
      </div>
    </div>
    <h2 id="choose-the-style">
      Choose the style, tweak the look
    </h2>

    <h3 id="style-cellular-automata">
      Cellular automata
    </h3>
    <p>Pattern made up of colored cells (this is the default style).</p>
    <ul class="pl-4">
      <li><code>style=cellular-automata</code></li>
      <li><code>cells=X</code> number of cells on each line</li>
      <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>
    </ul>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=cellular-automata&cells=10" data-src="images/examples/example-11.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        <noscript>
          <img width="600" height="300" src="images/examples/example-11.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </noscript>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x26;cells=10&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=cellular-automata&cells=50" data-src="images/examples/example-12.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        <noscript>
          <img width="600" height="300" src="images/examples/example-12.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </noscript>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=cellular-automata&#x26;cells=50&#x22;&#x3E;</code></pre>
      </div>
    </div>
    <h3 id="style-triangles">
      Triangles
    </h3>
    <p>Colorful triangle mesh.</p>
    <ul class="pl-4">
      <li><code>style=triangles</code></li>
      <li><code>gap=X</code> controls the size of the triangles</li>
      <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>      
    </ul>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=triangles&gap=100" data-src="images/examples/example-13.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        <noscript>
          <img width="600" height="300" src="images/examples/example-13.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </noscript>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=triangles&#x26;gap=100&#x22;&#x3E;</code></pre>
      </div>
      <div class="col-sm-12 col-md-6">
        <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=triangles&gap=30" data-src="images/examples/example-14.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        <noscript>
          <img width="600" height="300" src="images/examples/example-14.png" alt="Example generative placeholder image" title="This is an example generative placeholder image. Click to generate a new example.">
        </noscript>
        <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=triangles&#x26;gap=30&#x22;&#x3E;</code></pre>
      </div>
    </div>
  </div>
  <h3 id="style-mondrian">
    Mondrian
  </h3>
  <p>Art in the style of <a href="https://en.wikipedia.org/wiki/Piet_Mondrian">Piet Mondrian</a>.</p>
  <ul class="pl-4">
    <li><code>style=mondrian</code></li>      
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=mondrian" data-src="images/examples/mondrian.png" alt="Example generative placeholder image in the style of Piet Mondrian" title="This is an example generative placeholder image inspired by the art of Piet Mondrian. Click to generate a new example.">
      <noscript>
        <img width="600" height="300" src="images/examples/mondrian.png" alt="Example generative placeholder image in the style of Piet Mondrian" title="This is an example generative placeholder image inspired by the art of Piet Mondrian. Click to generate a new example.">
      </noscript>
      <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=mondrian&#x22;&#x3E;</code></pre>
    </div>
  </div>


  <h3 id="style-tiles">
    Tiles
  </h3>
  <p>Mazes created using the <a href="https://www.youtube.com/watch?v=m9joBLOZVEo">10 PRINT</a> Commodore 64 generative art program.</p>
  <ul class="pl-4">
    <li><code>style=tiles</code></li>
    <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>      
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=tiles" data-src="images/examples/example-05.png" alt="Example tiling generative placeholder image" title="This is an example generative placeholder image that uses the tiling style. Click to generate a new example.">
      <noscript>
        <img width="600" height="300" src="images/examples/example-05.png" alt="Example tiling generative placeholder image" title="This is an example generative placeholder image that uses the tiling style. Click to generate a new example.">
      </noscript>
      <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=tiles&#x22;&#x3E;</code></pre>
    </div>
  </div>



  <h3 id="style-cubic-disarray">
    Cubic Disarray
  </h3>
  <p>Inspired by the art of <a href="https://en.wikipedia.org/wiki/Georg_Nees">Georg Nees</a>.</p>
  <ul class="pl-4">
    <li><code>style=cubic-disarray</code></li>
    <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>      
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=cubic-disarray" data-src="images/examples/example-06.png" alt="Example cubic disarray generative placeholder image" title="This is an example generative placeholder image that uses the cubic disarray style. Click to generate a new example.">
      <noscript>
        <img width="600" height="300" src="images/examples/example-06.png" alt="Example cubic disarray generative placeholder image" title="This is an example generative placeholder image that uses the cubic disarray style. Click to generate a new example.">
      </noscript>
      <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=cubic-disarray&#x22;&#x3E;</code></pre>
    </div>
  </div>



  <h3 id="style-joy-division">
    Joy Division
  </h3>
  <p>Inspired by <a href="https://en.wikipedia.org/wiki/Unknown_Pleasures#Artwork_and_packaging">Joy Division's Unknown Pleasures</a> album cover.</p>
  <ul class="pl-4">
    <li><code>style=joy-division</code></li>
    <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>      
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=joy-division" data-src="images/examples/example-07.png" alt="Example Joy Division generative placeholder image" title="This is an example generative placeholder image that uses the Joy Division style inspired by their Unknown Pleasures album cover. Click to generate a new example.">
      <noscript>
        <img width="600" height="300" src="images/examples/example-07.png" alt="Example Joy Division generative placeholder image" title="This is an example generative placeholder image that uses the Joy Division style inspired by their Unknown Pleasures album cover. Click to generate a new example.">
      </noscript>
      <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=joy-division&#x22;&#x3E;</code></pre>
    </div>
  </div>



  <h3 id="style-123">
    123
  </h3>
  <p>Inspired by <a href="https://en.wikipedia.org/wiki/Vera_Molnár">Vera Molnar</a>'s Un Deux Trois artwork.</p>
  <ul class="pl-4">
    <li><code>style=123</code></li>
    <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>      
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=123" data-src="images/examples/example-08.png" alt="Example generative placeholder image inspired by Vera Molnar's Un Deux Trois artwork" title="This is an example generative placeholder image inspired by Vera Molnar's Un Deux Trois artwork. Click to generate a new example.">
      <noscript>
        <img width="600" height="300" src="images/examples/example-08.png" alt="Example generative placeholder image inspired by Vera Molnar's Un Deux Trois artwork" title="This is an example generative placeholder image inspired by Vera Molnar's Un Deux Trois artwork. Click to generate a new example.">
      </noscript>
      <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=123&#x22;&#x3E;</code></pre>
    </div>
  </div>

  <h3 id="style-circles">
    Circles
  </h3>
  <p><a href="https://en.wikipedia.org/wiki/Circle_packing">Circles packed together.</a></p>
  <ul class="pl-4">
    <li><code>style=circles</code></li>
    <li><code>colors=X</code> color palette (see <a href="#palettes">available palettes</a>)</li>      
  </ul>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img width="600" height="300" class="example lazy-load mt-4" data-imgsrc="/image?width=600&height=300&style=circles" data-src="images/examples/example-04.png" alt="Example circle-packing generative placeholder image" title="This is an example generative placeholder image that uses the circle-packing style. Click to generate a new example.">
      <noscript>
        <img width="600" height="300" src="images/examples/example-04.png" alt="Example circle-packing generative placeholder image" title="This is an example generative placeholder image that uses the circle-packing style. Click to generate a new example.">
      </noscript>
      <pre><code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;style=circles&#x22;&#x3E;</code></pre>
    </div>
  </div>

  <h2 id="resources">Resources</h2>
  <ul class="pl-4">
    <li>
      <a href="https://generativeartistry.com">Generative Artistry</a>
    </li>
    <li>
      <a href="https://javascript.christmas/2019/22">Cellular Automata in the Browser</a>
    </li>
    <li>
      <a href="https://www.npmjs.com/package/nice-color-palettes">nice-color-palettes</a>
    </li>
  </ul>
  <h2 id="questions-and-tips">Questions and tips</h2>

  <p>Need help or want to share feedback or suggestions? Feel free to reach out <a href="mailto:stefan@stefanbohacek.com">via email</a> or <a href="https://stefanbohacek.online/@stefan">on Mastodon</a>!</p>

  <h3 id="questions-and-tips-different-images">When using multiple images on the same page, how do I make each look different?</h3>

  <p>When a browser sees the same URL again, it tries to load the resource (image, JavaScript or a CSS file, etc) from the browser's cache, avoiding making the same request again.</p>
  <p>To make each image random, you can add an extra parameter that will be ignored by this site, but will make your browser think you are requesting a new image. This can be anything, for example:</p>
  <pre>
    <code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;img=01&#x22;&#x3E;</code>
    <code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;img=02&#x22;&#x3E;</code>
    <code class="html">&#x3C;img src=&#x22;https://generative-placeholders.stefanbohacek.com/image?width=600&#x26;height=300&#x26;img=03&#x22;&#x3E;</code>
  </pre>

  <h3 id="questions-and-tips-bigger-images">I need bigger images</h3>

  <p>The maximum image size is 2000x2000 pixels. If you need images larger than that, consider <a href="https://github.com/stefanbohacek/generative-placeholders">hosting this project yourself</a> and removing the conditions inside the <code>routes/image.js</code> file on lines <code>50</code> and <code>57</code>.</p>

  <h3>Adding <code>title</code> and <code>alt</code> attributes</h3>
  
  <p>If you intend to use the images outside of small demos, be sure to <a href="https://stackoverflow.com/a/872407">include <code>title</code> and <code>alt</code> attributes</a>.</p>

  <h3 id="palettes">Available palettes</h3>

  <p>
    The image generator uses the <a href="https://www.npmjs.com/package/nice-color-palettes">nice-color-palettes</a> node package to pick a random color palette. You can choose a specific palette by passing an index of one of the top 100 palettes as the <code>colors</code> parameter.
  </p>

  <div class="row align-center">
    {{#each palettes}}
      <div class="col-sm-6 col-md-3 p-3 list-item">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title"><code>colors={{@index}}</code></h5>
              <div class="row">
              {{#each this}}
                <div class="col-sm" style="background: {{this}}; height: 50px;"></div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
