<div class="container pb-5">
  <header class="mt-5">
    <img class="example main-example" src="/image?width=1200&height=400&style=cellular-automata&cells=80" data-imgsrc="/image?width=1200&height=400&style=cellular-automata&cells=80" title="Generative placeholders example image" alt="Generative Placeholders">
    <h1 class="mt-4">
      Generative Placeholders
    </h1>
    <p>
      Usage statistics
    </p>
  </header>
  <div class="mt-5">
    <div class="row">
      <div class="col-sm-12">

        {{#each data}}
          <p>{{@key}}</p>
          <ul>
            {{#each this}}
              <li>{{@key}}: {{this}}</li>
            {{/each}}
          </ul>
        {{/each}}

      </div>
    </div>
  </div>
</div>
