body{
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

header{
  p{
    font-size: 1.7rem;
  }
}

h1, h2, h3, h4, h5{
  font-family: 'Playfair Display', serif;
  margin: 10px 0;  
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.7rem;
}

pre, code{
    font-family: 'Source Code Pro', monospace;
}
